In [8]:
# https://medium.com/@AIY/getoldtweets3-830ebb8b2dab
# https://github.com/JustAnotherArchivist/snscrape
# https://github.com/rsafa/get-latest-tweets/blob/master/get_latest_tweets.py
# snscrape --max-results 100 twitter-search tesla >twitter-@tesla

In [90]:
import tweepy
import pandas as pd
import time
import os

consumer_key = 'JkfuUkynd4WfxXLbSukFok7qJ'
consumer_secret = 'fauEtTf9t7aLBY2oweFUgCkhOt54lPH51tJXsmCWFSQGSIVM3S'
access_token = '2220145722-63yNKOyb0vEd5beJ7LDcutsMpNSiikfvWiAVvV9'
access_token_secret = '1ekPldTcxHwdnouSamYtmZczBMxCtOnT94kSTTv9ntcz2'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)

In [105]:
!snscrape --max-results 1000 twitter-search elon%musk >twitter_elon

In [ ]:
'''
if status.lang == "en":
            mined = {
                "tweet_id": status.id,
                "name": status.user.name,
                "screen_name": status.user.screen_name,
                "retweet_count": status.retweet_count,
                "text": status.full_text,
                "created_at": status.created_at,
                "favourite_count": status.favorite_count,
                "hashtags": status.entities["hashtags"],
                "status_count": status.user.statuses_count,
                "followers_count": status.user.followers_count,
                "location": status.place,
                "source_device": status.source,
                "created_at": status.created_at
            }
'''

In [150]:
def get_tweets(tweet_ids):
    #     global api
    results = tweet_ids
    if len(tweet_ids) > 100:
        result = []
        for i in range(0, len(tweet_ids), 100):
            slice_item = slice(i, i + 100, 1)
            result.append(tweet_ids[slice_item])
    
    data = pd.DataFrame() # define your own dataframe
    for result in results:
        statuses = api.statuses_lookup(result, tweet_mode="extended")
        # printing the statuses
        for status in statuses:
            # print(status.lang)
            if status.lang == "en":
                mined = {
                    "text": status.full_text,
                    "created_at": status.created_at
                }

                print(status)
                break

                last_tweet_id = status.id
                data = data.append(mined, ignore_index=True)

    print("outputing to tweets", len(data))
    data.to_csv(
        f"Extracted_TWEETS.csv", mode="a", header=not os.path.exists("Extracted_TWEETS.csv"), index=False
    )

In [151]:
df = pd.read_csv('twitter_tesla.csv', names=['id', 'NaN'])

In [152]:
df.head()

                                                  id  NaN
0                                                 id  NaN
1  https://twitter.com/SgtUSMC4LIFE/status/131223...  NaN
2  https://twitter.com/programasdatv2/status/1278...  NaN
3  https://twitter.com/its_pruthviraj/status/1312...  NaN
4  https://twitter.com/rjo71342/status/1312230742...  NaN

In [153]:
ids = df['id'].values

In [154]:
ids[0]

'id'

In [155]:
ids_simple = []

for id in ids:
    id_splits = id.split('/')
    ids_simple.append(id_splits[-1])

In [156]:
ids_simple[0]

'id'

In [ ]:
get_tweets(ids_simple)